#result {
    width: 294px;
    height: 27px;
    /* align-content: center; */
    text-align: end;
}

 body{
    text-align-last: center;
    margin-left: 350px;
    margin-block-start: 168px;
}
button{
    
        width: 46px;
        height: 46px;
    
}
table{
   
        border: 10px outset;
        align-content: center;
    
}
h3{
    margin-right: 113px;
}
